$(function(){ // verifica se página está carregada por completo 
	closeModal();	
	showSuccessMessage();
});

function closeModal(){
	let modal = '#sendMessageModal'; 
	$(modal).modal('hide');
}



function showSuccessMessage(){
	  $("#notices").html("<div class='alert alert-<%=@notice_type%> alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button><%= @notice %></div>");
}