<h1 class="page-header"><%= title %></h1>
<% if notice %>
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<%= notice %>
	</div>
<% end %>

<% if alert %>
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<%= alert %>
</div>
<% end %>